<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head><title>title</title></head>
<body>

<!-- Fragment >>> -->
<div th:fragment="fr_messageEdit">

    <div class="my-1">
        <a class="btn btn-warning"
           data-bs-toggle="collapse"
           href="#collapseExample"
           role="button"
           aria-expanded="false"
           aria-controls="collapseExample">Сообщение
        </a>
    </div>
    <div th:class="${dgMessage == null ? 'my-1 collapse' : 'my-1 collapse show'}" id="collapseExample">
        <form method="post" enctype="multipart/form-data">
            <div>
                <label for="inputMessageText"></label>
                <input class="form-control"
                       type="text"
                       name="text"
                       id="inputMessageText"
                       th:value="${dgMessage?.getText()}"
                       placeholder="Введите сообщение"/>
                <th:block th:with="fieldError=${errorsMap?.get('textError')?:false}">
                    <div th:if="${fieldError}"
                         th:text="${fieldError}"
                         class="alert alert-danger my-1 p-1"></div>
                </th:block>
            </div>
            <div>
                <label for="inputMessageTag"></label>
                <input class="form-control"
                       type="text"
                       name="tag"
                       id="inputMessageTag"
                       th:value="${dgMessage?.getTag()}"
                       placeholder="Тег">
                <th:block th:with="fieldError=${errorsMap?.get('tagError')?:false}">
                    <div th:if="${fieldError}"
                         th:text="${fieldError}"
                         class="alert alert-danger my-1 p-1"></div>
                </th:block>
            </div>
            <div class="mb-4">
                <label for="inputMessageFile"></label>
                <input class="form-control"
                       type="file"
                       name="messageFile"
                       id="inputMessageFile"
                       placeholder="Файл с изображением">
            </div>
            <div>
                <button type="submit"
                        class="btn btn-warning">
                    Сохранить
                </button>
            </div>
        </form>
    </div>


</div>
<!-- <<< Fragment -->

</body>
</html>