<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head><title>title</title></head>
<body>

<!-- Fragment >>> -->
<th:block th:fragment="fr_messageFilter">
    <div class="card-header">
        <b>Фильтр сообщений</b>
    </div>
    <div class="card-body">
        <form th:action="@{/messages}" method="get" id="formFilter">
            <div class="row p-1 align-items-center">
                <div class="col-auto">
                    <label for="inputTagFilter">Поиск по тегу</label>
                </div>
                <div class="col-2">
                    <input th:value="${tagFilter}"
                           class="form-control"
                           type="text"
                           name="tagFilter"
                           id="inputTagFilter"
                           placeholder="Введите тег"/>
                </div>
                <div class="col-auto">
                    <button type="submit"
                            class="btn btn-warning btn-sm">Найти
                    </button>
                </div>
            </div>
        </form>
    </div>
</th:block>
<!-- <<< Fragment -->

</body>
</html>