<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><title>title</title></head>
<body>
<header>

    <!-- Fragment >>> -->
    <nav th:fragment="fr_nav" class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">drappogram</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/messages">Сообщения</a>
                    </li>
                    <li class="nav-item">
                        <div sec:authorize="isAuthenticated()">
                            <a class="nav-link" th:href="@{'/messages/user/' + ${#authentication.principal.dgUser.id}}">Мои сообщения</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div sec:authorize="hasAuthority('ADMIN')">
                            <a class="nav-link" href="/user">Список пользователей</a>
                        </div>
                    </li>
                </ul>
            </div>

            <div sec:authorize="isAuthenticated()" class="navbar-text ms-3">
                <a href="/user/profile">
                    <span sec:authentication="name"></span>
                </a>
            </div>
            <div sec:authorize="isAuthenticated()" class="navbar-text ms-3">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-secondary"
                            type="submit">Выйти
                    </button>
                </form>
            </div>
            <div sec:authorize="isAnonymous()">
                <a href="/login" class="navbar-text ms-3">Войти</a>
                <a href="/registration" class="navbar-text ms-3">Зарегистрироваться</a>
            </div>
        </div>
    </nav>
    <!-- <<< Fragment -->

</header>
</body>
</html>