<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="~{fragments/pageTemplate :: fr_page (~{::section})}">
<head><title>title</title></head>
<body>
<section>
    <!--Content here >>>-->
    <div class="card my-2">
        <th:block th:replace="~{fragments/partMessageFilter :: fr_messageFilter}"></th:block>
        <th:block th:replace="~{fragments/partMessageEditor :: fr_messageEditor}"></th:block>
        <th:block th:replace="~{fragments/partMessages :: fr_messages}"></th:block>
    </div>
    <!--<<< Content here-->
</section>
</body>
</html>