<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="~{fragments/pageTemplate :: fr_page (~{::section})}">
<head><title>title</title></head>
<body>
<section>
  <!-- Content >>> -->
  <div class="card my-2">
    <div class="card-header">
      <h3><b>Test Page</b></h3>
    </div>
    <div class="card-body m-2">
      <h4 class="card-footer">Test user</h4>
      <p th:text="'ID: ' + ${testObject.id}"></p>
      <p th:text="'FirstName: ' + ${testObject.firstName}"></p>
      <p th:text="'LastName: ' + ${testObject.lastName}"></p>
      <h4 class="card-footer">Messages</h4>
      <div th:each="_message : ${allMessages}">
        <p th:text="${_message.text}"></p>
      </div>
    </div>
  </div>
  <!-- <<< Content -->
</section>
</body>
</html>