<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="~{fragments/pageTemplate :: fr_page (~{::section})}">
<head><title>title</title></head>
<body>
<section>
  <!-- Content >>> -->
  <div class="card my-2">
    <div class="card-header">
      <h3><b>Test Page. User detail:
        <span th:text="${#authentication.principal.dgUser.lastName}"></span>
      </b></h3>
    </div>
    <div class="card-body m-2">
      <h4 class="card-footer">testObject</h4>
      <p th:text="'testObject.id: ' + ${testObject.id}"></p>
      <p th:text="'testObject.firstName: ' + ${testObject.firstName}"></p>
      <p th:text="'testObject.lastName: ' + ${testObject.lastName}"></p>
      <h4 class="card-footer">Messages</h4>
      <div th:each="_message : ${allMessages}">
        <p th:text="${_message.text}"></p>
      </div>
      <div th:text="${tmpObject.tmpData}"></div>
    </div>
  </div>
  <!-- <<< Content -->
</section>
</body>
</html>