<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="~{fragments/pageTemplate :: fr_page (~{::section})}">
<head><title>title</title></head>
<body>
<section>
    <!-- Content >>> -->
    <div class="card my-2">

        <div class="card-header">
            <b>Список пользователей</b>
        </div>

        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Логин</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Роли</th>
                    <th scope="col">Email</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="_User : ${userList}">
                    <th th:text="${_User.login}" scope="row"></th>
                    <td th:text="${_User.firstName}"></td>
                    <td th:text="${_User.lastName}"></td>
                    <td th:text="${_User.state}"></td>
                    <td th:text="${_User.roles}"></td>
                    <td th:text="${_User.email}"></td>
                    <td class="col"><a class="btn btn-outline-primary btn-sm" th:href="'/user/' + ${_User.id}">Редактировать</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <!-- <<< Content -->
</section>
</body>
</html>